#dropbox{
	float: left;
	width : 500px;
	height : 600px;
	margin: 10px; 
	border: 1px solid #999999;
}
#picturesbox{
 	float: left;
  	width: 630px;
  	margin: 10px; 
  	border: 1px solid #999999;
}
#picturesbox > img{
  	float: left;
  	padding: 5px;
  	width : 200px;
  	height : 200px;
}